<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시글 수정</h2>
    </div>

    <h4 class="mb-3">상품 입력</h4>

    <form th:action="@{/post/update}" method="post" enctype="multipart/form-data">

        <img th:each="imageFile : ${post.images}" th:src="|/post/images/${imageFile}|" width="300" height="300"/>

        <input type="text" name="prevContent" th:value="${post.content} " th:hidden="true">
        <input type="text" name="postId" th:value="${post.id} " th:hidden="true">
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <input type="text" class="form-control" id="content" name="postContent" th:placeholder="${post.content}">
        </div>

        <div class="col-12">
            <a href="/" role="button" class="btn btn-secondary">수정 취소</a>
            <button type="submit"  class="btn btn-primary">수정 완료</button>
        </div>
    </form>

</div>
</body>
</html>